*{
    box-sizing: border-box;
}
header{
    width: 100%;
    margin: 0 auto;
    background: url("../images/Image.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 1088px;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu{
    background: rgba(0, 0, 0, 0.5);
    display: block;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
h2.logo-title{
    color: red;
    font-size: 25px;
}

h2 span{
    color: white;
}
.list ul{
    color: white;
    display: inline;
    display: flex;
}
.list li a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.list li a:visited {
    color: #999;
}
.list li a:hover{
    color: red;
}

.list li a:active {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.5);
    background: deepskyblue;
}

.contents{
    margin-top: 200px;
}

.contents h1{
    color: white;
    font-size: 75px;
    text-align: center;
}

.text{
    color: white;
    width: 80%;
    text-align: center;
}

.button{
    display: inline;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.button ul{
   display: inline-block;
    display: flex;
}

.button li:nth-child(1) a{
    color: white;
    margin: 15px;
    padding: 15px;
    background: red;
    border-radius: 50px;
    text-decoration: none;
}
.button li:nth-child(2) a{
    color: red;
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
}

/*
blog
 */

article{
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
    background: white;
}

.blog-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-title{
    width: 100%;
}
.blog-contents h1{
    font-size: 30px;
}
.bg::before,
.bg::after{
    content: "";
    display: block;
    height: 3px;
    background: #222;
    flex-grow: 1;
}

.blog{
    padding: 5px;
    width: 33%;
}

.blog h2{
    font-size: 25px;
    padding: 20px 20px 20px 0;
    color: gray;
}

.blog p{
    color: gray;
}

.blog a{
    text-decoration: none;
    color: white;
    background: red;
    margin: 10px 10px 10px 0px;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
}
.blog img{
    max-width: 100%;
}

/*
SERVICE
 */

.container-service{
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
    background: #222222;
}
.contents-service{
    display: flex;
}
.contents-service h1{
    font-size: 30px;
    color: white;
}
.service{
    margin: 15px;
}
.service img{
    max-width: 55%;
    padding: 15px;
    text-align: center;
}
.service h2{
    font-size: 20px;
    padding: 20px 20px 20px 0px;
    color: white;
    text-align: center;
}
.service p{
    color: gray;
    text-align: center;
}
.service a {
    text-decoration: none;
    color: white;
    background: red;
    margin: 10px 10px 10px 0px;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}

/*
contact
 */

.container-contact{
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
    background: white;
}

.contents-contact{
    display: flex;
}
.contents-contact img{
    max-width: 50%;
}
.contents-contact h1{
    font-size: 30px;
}

/*
and
 */

.container-and{
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
    background: #222222;
}

.logo-and{
    display: block;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo-and h3{
    color: red;
    font-size: 15px;
}

h3 span{
    color: white;
}
.contents-and{
    display: flex;
}
.list2{
    color: white;
    font-size: 12px;
}
h4{
    color: white;
    font-size: 8px;
}